body {
	margin-top: 90px;
	margin-bottom: 90px;
}

.beta { background: url(/img/beta_ribbon.png) no-repeat left top; position: fixed; left: 0; top: 0; width: 78px; height: 75px; z-index: 1040; }

.navbar-brand {
	background: url(../img/logo-icon.png) left center no-repeat;
	margin-left: 0.4em;
	padding-left: 36px;
	font-size: 24px;
	color: black;
}

.nav .caret {
	border-top-color: white !important;
	border-bottom-color: white;
}

.spacer {
	margin-bottom: 20px;
}

.submenu {
	z-index: 10;
}

@media (max-width: $screen-desktop - 1) {
	body {
		margin-bottom: 0;
	}
	.container {
		width: 100%;
	}
}
