body {
	margin-top: 90px;
	margin-bottom: 90px;
}

.nav .caret {
	border-top-color: white !important;
	border-bottom-color: white;
}

.spacer {
	margin-bottom: 20px;
}

.submenu {
	z-index: 10;
}

@media (max-width: $screen-desktop - 1) {
	body {
		margin-bottom: 0;
	}
	.container {
		width: 100%;
	}
}
