@import "vendor/compass-mixins/compass/css3/border-radius";

.navbar-brand {
	background: url(../img/logo-icon.png) left center no-repeat;
	margin-left: 0.4em;
	padding-left: 36px;
	font-size: 24px;
	color: black;
}

.navbar-nav.input-group {
	width: 30em;
	input {
		margin: 8px 0;
	}
}

.main-navigation, .main-navigation-bg {
	position: fixed;
	z-index: -10;
	a {
		color: #fff;
	}
}

@media (min-width: $screen-lg-desktop) {
	.navbar>.container .navbar-brand {
		margin-left: 0.4em;
	}

	#search-query {
		@include border-radius(0);
	}

	.main-navigation a {
		color: #333;
	}

	.main-navigation, .main-navigation-bg {
		width: 240px;
		height: 100%;
		top: -5px;
		padding-top: 90px;
	}
}

@media (min-width: $screen-desktop) and (max-width: $screen-lg-desktop - 1) {
	.navbar>.container {
		width: 100%;
	}
	.navbar>.container .navbar-brand {
		margin-left: 0.4em;
	}
	.main-navigation a {
		color: #333;
	}
	#search-query {
		@include border-radius(0);
	}
	.main-navigation, .main-navigation-bg {
		width: 240px;
		height: 100%;
		left: 0;
		top: -5px;
		padding-top: 90px;
	}
}

@media (max-width: $screen-desktop - 1) {
	.main-navigation {
		width: 100%;
		position: relative;
		z-index: 0;
	}
	.navbar-responsive-collapse {
		.navbar-nav.input-group {
			width: 100%;
			margin: 0;
		}
	}
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: inherit;
	}
}
