@media (min-width: $screen-lg-desktop) {
	.navbar>.container .navbar-brand {
		margin-left: 50px;
	}

	.main-navigation, .main-navigation-bg {
		width: 240px;
		height: 100%;
		top: -5px;
		padding-top: 90px;
	}
}

@media (min-width: $screen-desktop) and (max-width: $screen-lg-desktop - 1) {
	.main-navigation, .main-navigation-bg {
		width: 240px;
		height: 100%;
		left: 0;
		top: -5px;
		padding-top: 90px;
	}
}

@media (max-width: $screen-desktop - 1) {
	body {
		margin-bottom: 0px;
	}
	.footer.navbar-fixed-bottom {
		width: 100%;
		position: relative;
	}
	.main-navigation {
		width: 100%;
		position: relative;
	}
}
