.navbar-nav.input-group {
	width: 30em;
	input {
		margin: 8px 0;
	}
}

@media (min-width: $screen-lg-desktop) {
	.navbar>.container .navbar-brand {
		margin-left: 0.4px;
	}

	.main-navigation, .main-navigation-bg {
		width: 240px;
		height: 100%;
		top: -5px;
		padding-top: 90px;
	}
}

@media (min-width: $screen-desktop) and (max-width: $screen-lg-desktop - 1) {
	.navbar>.container {
		width: 100%;
	}
	.main-navigation, .main-navigation-bg {
		width: 240px;
		height: 100%;
		left: 0;
		top: -5px;
		padding-top: 90px;
	}
}

@media (max-width: $screen-desktop - 1) {
	body {
		margin-bottom: 125px;
	}
	.footer.navbar-fixed-bottom {
		width: 100%;
	}
	.main-navigation {
		width: 100%;
		position: relative;
		z-index: 0;
	}
	.container {
		width: 100%;
	}
	.navbar-responsive-collapse {
		.navbar-nav.input-group {
			width: 100%;
			margin: 0;
		}
	}
}
