._*
.htaccess
app/.htaccess
app/webroot/.htaccess

# config
app/config/bootstrap.php
app/config/core.php
app/config/database.php

# cache
app/tmp/**/*
app/webroot/tmp/*

# misc
cakephp/
cakephp/*/**

!empty

