<div class="loader" ng-if="!stats" style="margin-bottom: 2em;"></div>
<div class="row" ng-if="stats">
	<div
		ng-repeat="(key, data) in stats"
		class="col-sm-4"
	>
		<div
			class="panel"
			ng-class="{
				'panel-success': data[2] < 50,
				'panel-warning': data[2] >= 50 && data[2] < 100,
				'panel-danger': data[2] === 100
			}">
			<div class="panel-heading">{{ key.charAt(0).toUpperCase() + key.substring(1) }}</div>
			<div class="panel-body">
				<h2 style="text-align: center">{{data[0] || number }} / {{ data[1] || '&infin;' }}</h2>
				<div class="progress">
					<div
						class="progress-bar progress-bar-striped"
						ng-class="{
							'progress-bar-success': data[2] < 50,
							'progress-bar-warning': data[2] >= 50 && data[2] < 100,
							'progress-bar-danger': data[2] === 100
						}"
						style="width: {{ data[2] || 0 }}%;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="loader" ng-if="!recent" style="margin-bottom: 2em;"></div>
<div class="panel panel-default" ng-if="recent">
	<div class="panel-heading">Recent Items</div>
	<ul class="list-group" ng-repeat="item in recent">
		<li class="list-group-item">
			<span class="badge">{{ item.quantity }}</span>
			{{ item.body }} in <a href="/app/#/container/view/{{ item.container.slug }}">{{ item.container.name }}</a>
		</li>
	</ul>
</div>
