<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Containers</h4>
	</div>
	<div class="panel-body">
		<form class="form-inline">
			<div class="btn-group">
				<button type="button" class="btn btn-success">Add Container</button>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					More
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#"><i class="icon-print"></i> Bulk Print</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Sort by</li>
					<li><a href="#">Container Name</a></li>
					<li><a href="#">Last Modified</a></li>
				</ul>
			</div>
			<select name="data[Location][uuid]" class="form-control" style="width: 120px" id="LocationUuid">
				<option value="">All Locations</option>
				<option value="__UNASSIGNED__">-- Unassigned --</option>
				<option value="4f2d8a58-36a8-457a-8c9c-25ba4acfe4a3">Guest Bedroom</option>
			</select>
		</form>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Title</th>
				<th>Last Modified</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="/containers/view/comp1">Comp Box 1</a></td>
				<td>on 4/2/12</td>
				<td>
					<div class="btn-group pull-right">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i> <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="/containers/view/comp1"><i class="icon-zoom-in"></i> View</a></li>
									<li><a data-toggle="modal" data-target="#layout-modal" href="/containers/edit/4f2d7c93-4394-4c21-a4da-5b6d4acfe4a3"><i class="icon-edit"></i> Edit</a></li>
								<li class="divider"></li>
								<li><a href="/containers/export/4f2d7c93-4394-4c21-a4da-5b6d4acfe4a3"><i class="icon-download-alt"></i> Export to CSV</a></li>
								<li class="divider"></li>
								<li><a href="/containers/delete/4f2d7c93-4394-4c21-a4da-5b6d4acfe4a3"><i class="icon-remove"></i> Delete</a></li>
								</ul>
					</div>
				</td>
			</tr>
						<tr>
				<td>1</td>
				<td><a href="/containers/view/comp2">Comp Box 2</a></td>
				<td>on 19/5/14</td>
				<td>
					<div class="btn-group pull-right">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i> <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="/containers/view/comp2"><i class="icon-zoom-in"></i> View</a></li>
									<li><a data-toggle="modal" data-target="#layout-modal" href="/containers/edit/4f2d7d76-2d34-42b0-bf95-4a9a4acfe4a3"><i class="icon-edit"></i> Edit</a></li>
								<li class="divider"></li>
								<li><a href="/containers/export/4f2d7d76-2d34-42b0-bf95-4a9a4acfe4a3"><i class="icon-download-alt"></i> Export to CSV</a></li>
								<li class="divider"></li>
								<li><a href="/containers/delete/4f2d7d76-2d34-42b0-bf95-4a9a4acfe4a3"><i class="icon-remove"></i> Delete</a></li>
								</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer">
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
