<div class="loader" ng-if="!list"></div>
<div class="panel panel-default" ng-if="list">
	<div class="panel-heading">
		<h4 class="pull-left">Containers</h4>
		<form class="form-inline pull-right">
			<div class="btn-group">
				<a href="/app/#/containers/add" class="btn btn-success hidden-xs"><i class="icon-plus"></i> Add Container</a>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li class="visible-xs-inline"><a href="/app/#/containers/add"><i class="icon-plus"></i> Add Container</a></li>
					<li><a href=""><i class="icon-print"></i> Bulk Print</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Sort by</li>
					<li><a href="#">Container Name</a></li>
					<li><a href="#">Last Modified</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">By Location</li>
					<li><a href="#">-- Unassigned --</a></li>
					<li><a href="#">Guest Bedroom</a></li>
					<li><a href="#">All Locations</a></li>
				</ul>
			</div>
		</form>
		<div class="clearfix"></div>
	</div>
	<table class="table table-hover" ng-controller="ContainerSave as SaveCtrl">
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Title</th>
				<th>Last Modified</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="container in list">
				<td>{{ container.container_item_count }}</td>
				<td><a href="/app/#/containers/view/{{ container.slug }}">{{ container.name }}</a></td>
				<td>on {{ container.modified | date:short }}</td>
				<td>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i> <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="/app/#/containers/view/{{ container.slug }}"><i class="icon-zoom-in"></i> View</a></li>
							<li><a href="/app/#/containers/edit/{{ container.slug }}"><i class="icon-edit"></i> Edit</a></li>
							<li class="divider"></li>
							<li><a href="/app/#/containers/export/{{ container.slug }}"><i class="icon-download-alt"></i> Export to CSV</a></li>
							<li class="divider"></li>
							<li><a href ng-click="SaveCtrl.remove(container.slug, 'refresh')"><i class="icon-remove"></i> Delete</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer">
		<ul class="pagination pf">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
