.fixed-header { position: fixed; width: 100%; top:0; left: 0; background: #EFEBE3; z-index: 2; }
.app-begin { position: relative; top: 120px; }
#navigation {padding-top: 5px; }
	#navigation ul li { background-color: #2981e4; padding: 5px 10px; margin-right: 3px; }
	#navigation ul li.active {background-color:#c0caff; }
		#navigation ul li a{ color: white; }
		#navigation ul li a:hover { color: white; text-decoration: underline; }
		#navigation ul li.active a { color: #333; }
		#navigation ul li.action a:hover { color: black; }
	#search {float: right; padding-right: 10px; }
#submenu {
	padding: 0 10px; background-color: #C0CAFF; width: 680px; float: left;
	-moz-box-shadow: 1px 2px 2px #888; -webkit-box-shadow: 1px 2px 2px #888; box-shadow: 1px 2px 2px #888;
}
	#submenu-content { float: left; padding: 5px 0; }
	#submenu-content a { margin-right: 8px; }
		#submenu-content a img {width: 9px; height: 9px;}
#app {
	min-height: 400px; width: 680px; float: left; overflow: auto; padding: 10px 10px 40px 10px; background-color: white;
	-moz-box-shadow: 1px 2px 2px #888; -webkit-box-shadow: 1px 2px 2px #888; box-shadow: 1px 2px 2px #888; z-index: 2;
}

#sidebar {min-height: 600px; width: 249px; overflow: none; float: right; padding: 10px 0 40px 10px; }
	#control {display: none; width: 220px; margin: 0 auto; padding-top: 10px; height: 150px;}
	#rev { width: 200px; margin: 0 auto; padding-top: 10px; }

#footer { float: left; padding: 10px 0;}

#search form select {
	padding: 2px 5px;
}

a.container-box { float: left; padding: 10px; width: 137px; height: 160px; text-align: center; border: 1px solid white; color: #333; }
a.container-box:hover { border: 1px solid #2981e4; background-color: #c0caff; }
	.container-name { width: 127px; height: 50px; overflow: hidden; }

.widget { background: #EFEBE3; border: 1px solid #ccc; padding: 10px; }
.hint { color: #aaa; font-size: 10px; }

.paging { float: right; padding: 13px 0 0 0; }
	.paging div,
	.paging a { font-size:12px; list-style:none; float:left; }
	.paging a { border:solid 1px #667151; border-bottom: 0; margin-right:2px; }
	.paging .off { display: none; }
	.paging .current{ border:solid 1px #667151; border-bottom: 0; background: white; color: #333;
					  font-weight:bold; display:block; float:left; padding:3px 4px; margin-right:2px; }
	.paging a:link,
	.paging a:visited { background: white; color:#333; display:block; float:left; padding:3px 4px; text-decoration:none; }
	.paging a:hover{ border:solid 1px #667151; border-bottom: 0; background:#2981E4; color:#efefef; }

.container-item-list { padding: 10px 20px; border-bottom: 1px solid #bbb; }
	.container-item-list-quantity { width: 60px; float: left; padding: 8px 5px 0 0; font-size: 22px; overflow: hidden; color: #555;}
	.container-item-list-content { width: 520px; float: left; padding: 2px;}
	.container-item-list-options { margin: 8px 0 0 10px; float: left; }
	.alternate { background-color: #ddd; }
.container-item-list:hover { background-color: #eee; }

.container_view_add { float: left; width: 400px; }
.container_item_index { float: left; width: 350px; }

#fancybox-content h2 { text-align: center; background-color: #EFEBE3; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; padding: 5px; border: 1px solid #CDC9C1}

table { width: 100%; }
	table tbody td { padding: 10px; }
