<!DOCTYPE html>
<html lang="en" ng-app="boxmeup">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Boxmeup</title>
	<link href="/favicon.ico" type="image/x-icon" rel="icon">
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/css/app_{{ release }}.css">
	<!--[if lt IE 9]>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
 	<![endif]-->
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" bmu-navbar-collapse>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="collapse()">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/app/#/dashboard" class="navbar-brand">Boxmeup</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse" ng-class="{in: !navCollapse}">
				<ul class="nav navbar-nav navbar-right">
					<div class="btn-group">
						<button type="button" class="btn btn-warning dropdown-toggle navbar-btn" data-toggle="dropdown">
							<i class="icon-user" style="margin-right: 5px"></i> Account <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="/app/#/account" ng-click="collapse()"><i class="icon-gears"></i> Settings</a></li>
							<li><a href="/app/#/users/auth" ng-click="collapse()"><i class="icon-lock"></i> Applications</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('app_logout') }}"><i class="icon-off"></i> Sign Out</a></li>
						</ul>
					</div>
				</ul>
				
				<div class="main-navigation sidebar-collapse">
					<ul class="nav nav-pills nav-stacked">
						<li><input name="search" autocomplete="off" class="form-control" placeholder="Search" type="text" id="search-query"/></li>
						<li><a href="/app/#/dashboard" ng-click="collapse()"><i class="icon-dashboard" style="margin-right: 15px"></i>Dashboard</a></li>
						<li><a href="/app/#/containers" ng-click="collapse()"><i class="icon-inbox" style="margin-right: 15px"></i>My Containers</a></li>
						<li><a href="/app/#/container_items" ng-click="collapse()"><i class="icon-tasks" style="margin-right: 15px"></i>My Items</a></li>
						<li><a href="/app/#/locations" ng-click="collapse()"><i class="icon-location-arrow" style="margin-right: 15px"></i>My Locations</a></li>
						<li style="border-top:1px solid #ddd"></li>
						<li class="dropdown-header">Quick Actions</li>
						<li class="hidden-xs">
							<a href=""><i class="icon-qrcode" style="margin-right: 15px"></i>Login Your Phone</a>
						</li>
						<li>
							<a href="/app/#/containers/add" ng-click="collapse()">
								<i class="icon-plus-sign" style="margin-right: 15px"></i>Add Container
							</a>
						</li>
						<li class="to-top hidden" style="border-top: 1px solid #ddd"></li>
						<li>
							<a href="#" class="to-top hidden">
								<i class="icon-arrow-up" style="color: #666; margin-right: 15px"></i>Go to Top
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="well well-small main-navigation-bg hidden-xs hidden-sm"></div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-lg-12">
						{% verbatim %}
						<div
							class="alert alert-{{ message.type.toLowerCase() }}"
							ng-repeat="message in notifyConsume()"
							role="alert"
							ng-bind-html="message.message"
						>
						</div>
						{% endverbatim %}
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div class="footer navbar-fixed-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<small><a href="/">Boxmeup</a> Copyright &copy; 2014</small>
					</div>
					<div class="col-sm-8 hidden-xs">
						<div class="pull-right">
							<small><a href="/terms">Terms</a>&nbsp;&nbsp;&nbsp;<a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;<a href="http://status.boxmeupapp.com">Status</a>&nbsp;&nbsp;&nbsp;<a href="/developer">API</a></small>
						</div>
					</div>
					<div class="col-xs-8 visible-xs-block">
						<div class="btn-group pull-right dropup">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/terms">Terms</a></li>
								<li><a href="/privacy">Privacy</a></li>
								<li><a href="/developer">API</a></li>
							</ul>
						</div>
					</div>
			</div>
		</div>
		{% if debug %}
		<script data-main="/js/main" src="/bower_components/requirejs/require.js"></script>
		{% else %}
		<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
		<script>
			require(['/js/build_{{ release }}.js']);
		</script>
		{% endif %}
</body>
</html>
